<header class="header">
  <button class="menu-button" (click)="toggleSidebar.emit()">
    <span class="material-icons">menu</span>
  </button>
  <div class="header-title">
    <h1>Gas Văn Mười</h1>
    <small>Xã Long Phụng, Quảng Ngãi</small>
  </div>
  <div class="header-right">
    <div class="header-user" *ngIf="userName">
      <span class="material-icons user-icon">account_circle</span>
      <span class="user-name">{{ userName }}</span>
    </div>
    <div class="header-time">
      {{ currentTime | date:'HH:mm' }}
    </div>
    <button class="logout-btn" (click)="logout()" title="Đăng xuất">
      <span class="material-icons">logout</span>
    </button>
  </div>
</header>